
/* [class^=col]{     border:dotted red; } */
/* [class^=row]{    border:dashed green ;} */
 /* #nav{       border:solid black;}  */
/* [class^="container"]{     border:dotted black;   } */
/* #name{    padding: 15px 16px 15px 16px;    background-color: #eeeeee;} */
.row{}

/* [class^=col-md]{ */
     /* border:dotted red;  */

/* } */
.container{
    border: black;
}
.fcg3{
    padding: 15px 0px 0px 40px;
    color: darkblue;
    float: left;
    
}

.fcgcol{
    /* background-color: blueviolet; */
}



#row1{
    height: 300px;
    padding: 30px 30px 30px 30px;
    background-color: burlywood;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
}

#row2{
    height: 300px;
    background-color: burlywood;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;

}
#box1{
  
    border:solid black;
  
}
#aboutMe{
    font-size: 30px;
    /* border-bottom: black; */
      /* border:solid black;   */
    /* border: black; */

}

ul a:hover{
    color: #000;

}
ul a::before{
    content: '';
    display: block;
    height: 5px;
    width: 00%;
    background-color: #444;
    transition: all ease-in-out 250ms;
    /* position: absolute; */
}
ul a:hover::before{
    width: 100%;
}
ul li{
    position: relative;
}
 #lineDiv{ 
   background-color: black;
   height: 3px;
}
#lineDiv2{
    background-color: black;
    height: 1px;
 }

#test1{
    border-color: black; 
}
img{
    float: left;
}

#rowP1{
    height: 600px;
    padding: 30px 30px 30px 30px;
    background-color: burlywood;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
}

.PI1{
    padding: 40px;
}
#rowCon{
    height: 600px;
    padding: 30px 30px 30px 30px;
    background-color: burlywood;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
}
#fcgcol{
    padding-left: 20px;
    background-color:blue;
    color: cornsilk;
  
}
#btext{
    /* border:dashed green ; */
    /* border:solid 5px #000; */
    height: 50px;
    color: cornsilk;
    background-color: blue;
}

.myContainer {
    border: solid 5px black;
}